body, header, footer, div, h1, h2, h3, h4, h5, h6, p, form, input, ul, li, section, article, aside, select, 
label, figure, img, input, form, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a, a:hover, a:focus{
	text-decoration: none;
}
input, input:focus, input:active, button, button:focus, button:active, select, select:focus, select:active,
textarea, textarea:focus, textarea:active{
	outline: none;
}
form, input, textarea, select, button{
	font-family: 'Martel Sans', sans-serif;
}
ul{
 	list-style: none;
}
ul.intial-list{
	list-style: initial;
}
p+p{
	margin-top: 15px;
}
/* wholepage */
.wholepage{
	width: 100%;
	position: relative;
	font-size: 22px;
	line-height: 1.8;
	font-family: 'Martel Sans', sans-serif;
}
.maincontainer{
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
	max-width: 1140px;
}
/* header */
#header{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 999;
	padding: 20px 0;
}
.logo-a {
	display: block;
	width: 250px;
}
.logo-a img{
	display: block;
	width: 100%;
}
/* herobanner */
.herobanner{
	position: relative;
	min-height: 100vh;
	z-index: 9;
	display: flex;
	align-items: center;
	color: #ffffff;
}
.herobanner-caption{
	padding: 150px 0 100px;
}
.bgfigure, .bgfigure img, .bgfigure::before{
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
	top: 0;
}
.bgfigure {
	z-index: -1;
}
.bgfigure::before{
	content: "";
	opacity: 0.8;
	background: #3d78bd;
	z-index: 9;
}
.bgfigure img{
	object-position: top;
	object-fit: cover;
}
.herobanner-text{
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;
	align-items: center;
}
.herobanner-text > div{
	flex: 0 0 50%;
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
}
h1{
	font-size: 40px;
	line-height: 1.3;
	font-weight: 900;
}
/* formwrap */
.formwrap{
	position: relative;
	margin-top: 80px;
	overflow: hidden;
	width: 100%;
	max-width: 600px;
}
.emaillabel {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}
.emaillabel input{
	display: block;
	border: 0;
	width: 100%;
	background: #ffffff;
	height: 60px;
	padding-left: 45px;
	font-size: 16px;
	padding-right: 200px;
}
.emaillabel svg{
	width: 25px;
	height: auto;
	height: 100%;
	position: absolute;
	object-fit: contain;
	top: 0;
	left: 10px;
	cursor: pointer;
}
.subscribe-btn{
	display: block;
	position: absolute;
	width: 190px;
	font-size: 14px;
	height: 60px;
	line-height: 60px;
	color: #ffffff;
	background: #091f40;
	z-index: 99;
	right: 0px;
	top: 0px;
	border: 0;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
}
@media(max-width: 767px){
	.wholepage{
		font-size: 14px;
	}
	.maincontainer{
		padding-left: 20px;
		padding-right: 20px;
	}
	h1{
		font-size: 25px;
		margin-bottom: 20px;
	}
	.logo-a{
		margin: 0 auto;
	}
	.herobanner-text{
		text-align: center;
	}
	.herobanner-text > div{
		width: 100%;
		flex: 0 0 100%;
	}
	.formwrap{
		max-width: 400px;
		margin: 40px auto 0;
		border-radius: 0;
	}
	.emaillabel input{
		padding-right: 15px;
	}
	.subscribe-btn{
		position: relative;
		margin-top: 0;
		width: 100%;
	}

}